<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td {
      border: 1px solid black;
    }
  </style>


<body>
  <div>{{data}}</div>

<div>
    <h3>Account Information</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cash Balance</th>
            <th>Investment Balance</th>
            <th>Total Value</th>
        </tr>
        {% for row in acc %}
        <tr>
            {% for n in row %}
            <td>{{n}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<div>
    <h3>Investment Product Owned</h3>
    <table>
        <tr>
            <th>Account ID</th>
            <th>Investment Product ID</th>
            <th>Amount invested</th>
        </tr>
        {% for row in own %}
        <tr>
            {% for n in row %}
            <td>{{n}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>


<div>
    <h3>Trading Information</h3>
    <table>
        <tr>
            <th>Account ID</th>
            <th>Investment Product ID</th>
            <th>Bill ID</th>
            <th>Trading Date</th>
            <th>Trading Type</th>
            <th>Trading Amount</th>
            <th>Note</th>
        </tr>
        {% for row in bill %}
        <tr>
            {% for n in row %}
            <td>{{n}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<p><a href="/ip/{{acc[0][0]}}">Go back to the product page.</a></p>

</body>


</html>
