<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td {
      border: 1px solid black;
    }
  </style>

<body>
  <form method="POST" action="/accountcheck">
    <p>ID of Account that you to login: <input type="text" name="acc_id"> </p>
    <p><input type="submit" value="Login"></p>
    <p><input type="hidden" name="user" value={{user_id}}></p>
  </form>

  <h1>User Information</h1>
  <table>
    <thead>
      <tr>
        <th> User ID </th>
        <th> User Name </th>
        <th> Mobile </th>
        <th> Email </th>
        <th> Address </th>
        <th> Passport Number </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{user_id}} </td>
        <td> {{user_name[0]}} </td>
        <td> {{mobile[0]}} </td>
        <td> {{email[0]}} </td>
        <td> {{address[0]}} </td>
        <td> {{passport_no[0]}} </td>
      </tr>
    </tbody>
  </table>

  <h2>Update User Information</h2>
  <form method="POST" action="/updateuserinfo">
    <p>New Name: <input type="text" name="new_name"></p>
    <p>New Mobile: <input type="text" name="new_mobile"></p>
    <p>New Email: <input type="text" name="new_email"></p>
    <p>New Address: <input type="text" name="new_address"></p>
    <p>New Passport Number: <input type="text" name="new_passport_no"></p>
    <p> <input type="submit" value="Update"> </p>
    <p> <input type="hidden" name="user_id" value={{user_id}}> </p>
  </form>

  <h1>Account Information</h1>
  <table>
    <thead>
      <tr>
        <th> Account ID </th>
        <th> Account Name </th>
        <th> Since Date </th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(acc_id|length)%}
      <tr>
        <td> {{acc_id[i]}} </td>
        <td> {{acc_name[i]}} </td>
        <td> {{since[i]}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Add New Account</h2>
  <form method="POST" action="/addaccount">
    <p>Account ID: <input type="text" name="acc_id"></p>
    <p>Account Name: <input type="text" name="acc_name"></p>
    <p> <input type="submit" value="Add"> </p>
    <p> <input type="hidden" name="user_id" value={{user_id}}> </p>
  </form>

</body>


</html>
