<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <form method="POST" action="/accountcheck">
    <p>ID of Account that you to login: <input type="text" name="acc_id"> </p>
    <p><input type="submit" value="Login"></p>
    <p><input type="hidden" name="user" value={{user_id}}></p>
  </form>

  <h1>User Information</h1>
  <table>
    <thead>
      <tr>
        <th> User ID </th>
        <th> User Name </th>
        <th> Mobile </th>
        <th> Email </th>
        <th> Address </th>
        <th> Passport Number </th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(user_id|length)%}
      <tr>
        <td> {{user_id[i]}} </td>
        <td> {{user_name[i]}} </td>
        <td> {{mobile[i]}} </td>
        <td> {{email[i]}} </td>
        <td> {{address[i]}} </td>
        <td> {{passport_no[i]}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <h1>Account Information</h1>
  <table>
    <thead>
      <tr>
        <th> Account ID </th>
        <th> Since Date </th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(acc_id|length)%}
      <tr>
        <td> {{acc_id[i]}} </td>
        <td> {{since[i]}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>


</html>
